<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recuperar Senha</title>
    <link rel="stylesheet" href="../public/stylesheets/style.css">
    <link rel="icon" href="../public/images/favicon.svg" type="images" sizes="16x16">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    
</head>
<body class="login-bg">
        <form class="card-cadastro" action="test.js" method="POST">
            <div>

            <img src="../public/images/logo_verde_azul.svg" alt="Logo Wappdate">
            <p class="paragrafo-card">Não se preocupe, enviaremos um link para o endereço informado com as instruções para redefinir sua senha.</p>
            
            </div>
            <div class="input">
                <h5 class="title.card">Crie sua conta</h5>
                <form>

                    <div>
  
                      <div class="input-field col s12">
                        <input id="name" type="text" class="validate">
                        <label for="name">Nome Completo</label>
                      </div>
  
                    </div>
  
                    <div>
  
                    <div>
                      <div class="input-field col s12">
                        <input id="email" type="email" class="validate">
                        <label for="email">Email</label>
                      </div>
                    </div>
                    
                    <div>
                      <div class="input-field col s12">
                        <input id="tel" type="tel" class="validate">
                        <label for="tel">WhatsApp</label>
                      </div>
                    </div>
  
                    </div>
              
                </form>
                <button type="submit" class="button-cadastro">Experimentar grátis!</button>
        
            <div class=" input ext-center-botton">
                <div>
                Ainda não é cliente? 
                <a href="cadastro.html"> Crie sua conta!</a>
                </div>
            </div>
        </form>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</body>
</html>