<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Painel de Controle</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="/stylesheets/style.css" />
</head>

<body>
    <!-- Main menu -->
    <%- include('./partials/mainMenu.ejs') %>
    <!-- End of Main menu -->

    <main>
        <div class="main-block-component">
            <div class="sidebar-menu">
                <div class="sidebar-menu-logo">
                    <svg width="25" height="99" viewBox="0 0 25 99" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M12.4948 66.5375C12.4948 65.3779 12.7694 64.5235 13.3187 63.9743C13.868 63.425 14.7224 63.1503 15.882 63.1503L20.7705 63.1503C21.1489 63.1503 21.3381 63.3395 21.3381 63.7179C21.3381 64.0963 21.1489 64.2855 20.7705 64.2855L20.0198 64.2855C20.8987 64.908 21.3381 65.9272 21.3381 67.3431L21.3381 68.3684C21.3381 69.3449 21.1123 70.0651 20.6607 70.5289C20.1968 70.9805 19.4767 71.2063 18.5002 71.2063C17.5237 71.2063 16.8096 70.9744 16.358 70.5106C15.8942 70.0468 15.6623 69.3327 15.6623 68.3684L15.6623 64.2855C14.8933 64.3099 14.3623 64.493 14.0694 64.8348C13.7764 65.1643 13.63 65.7319 13.63 66.5375L13.63 67.5995C13.63 68.3318 13.7032 68.8689 13.8497 69.2107C13.9839 69.5524 14.222 69.7721 14.5637 69.8698C14.7468 69.9308 14.8811 70.004 14.9665 70.0895C15.0398 70.1749 15.0764 70.3031 15.0764 70.474C15.0764 70.6571 15.0276 70.8035 14.9299 70.9134C14.8201 71.0233 14.6736 71.0599 14.4905 71.0233C13.807 70.9134 13.3065 70.5777 12.9892 70.0163C12.6596 69.4548 12.4948 68.6492 12.4948 67.5995L12.4948 66.5375ZM18.3537 64.2855L16.7974 64.2855L16.7974 68.3684C16.7974 69.0276 16.9195 69.4792 17.1636 69.7233C17.3955 69.9552 17.8411 70.0712 18.5002 70.0712C19.1593 70.0712 19.6109 69.9552 19.8551 69.7233C20.087 69.4792 20.2029 69.0276 20.2029 68.3684L20.2029 67.3431C20.2029 66.4521 20.0687 65.7624 19.8001 65.2742C19.5194 64.7737 19.0983 64.4625 18.5368 64.3404L18.3537 64.2855Z"
                            fill="#22546E" />
                        <path
                            d="M12.4948 54.9018C12.4948 53.7422 12.7694 52.8878 13.3187 52.3385C13.868 51.7893 14.7224 51.5146 15.882 51.5146L17.9509 51.5146C19.1105 51.5146 19.9649 51.7893 20.5142 52.3385C21.0635 52.8878 21.3381 53.7422 21.3381 54.9018L21.3381 58.6552L24.4323 58.6552C24.8107 58.6552 24.9999 58.8444 24.9999 59.2228C24.9999 59.6011 24.8107 59.7903 24.4323 59.7903L13.0624 59.7903C12.684 59.7903 12.4948 59.6011 12.4948 59.2228C12.4948 58.8444 12.684 58.6552 13.0624 58.6552L13.6483 58.6552C12.8793 58.0327 12.4948 57.0135 12.4948 55.5976L12.4948 54.9018ZM15.882 52.6498C15.0276 52.6498 14.4417 52.8146 14.1243 53.1441C13.7948 53.4737 13.63 54.0596 13.63 54.9018L13.63 55.5976C13.63 56.5252 13.7703 57.2637 14.0511 57.813C14.3196 58.35 14.7285 58.6308 15.2778 58.6552L20.2029 58.6552L20.2029 54.9018C20.2029 54.0596 20.0443 53.4737 19.7269 53.1441C19.3973 52.8146 18.8053 52.6498 17.9509 52.6498L15.882 52.6498Z"
                            fill="#22546E" />
                        <path
                            d="M12.4948 43.3871C12.4948 42.2275 12.7694 41.3731 13.3187 40.8238C13.868 40.2746 14.7224 39.9999 15.882 39.9999L17.9509 39.9999C19.1105 39.9999 19.9649 40.2746 20.5142 40.8238C21.0635 41.3731 21.3381 42.2275 21.3381 43.3871L21.3381 47.1405L24.4323 47.1405C24.8107 47.1405 24.9999 47.3297 24.9999 47.708C24.9999 48.0864 24.8107 48.2756 24.4323 48.2756L13.0624 48.2756C12.684 48.2756 12.4948 48.0864 12.4948 47.708C12.4948 47.3297 12.684 47.1405 13.0624 47.1405L13.6483 47.1405C12.8793 46.518 12.4948 45.4988 12.4948 44.0828L12.4948 43.3871ZM15.882 41.1351C15.0276 41.1351 14.4417 41.2999 14.1243 41.6294C13.7948 41.959 13.63 42.5449 13.63 43.3871L13.63 44.0828C13.63 45.0105 13.7703 45.749 14.0511 46.2983C14.3196 46.8353 14.7285 47.1161 15.2778 47.1405L20.2029 47.1405L20.2029 43.3871C20.2029 42.5449 20.0443 41.959 19.7269 41.6294C19.3973 41.2999 18.8053 41.1351 17.9509 41.1351L15.882 41.1351Z"
                            fill="#22546E" />
                        <path
                            d="M8.57666 29.3641C8.57666 28.9857 8.76585 28.7965 9.14424 28.7965L20.7705 28.7965C21.1489 28.7965 21.3381 28.9857 21.3381 29.3641C21.3381 29.7424 21.1489 29.9316 20.7705 29.9316L20.2212 29.9316C20.9658 30.4931 21.3381 31.5123 21.3381 32.9893L21.3381 33.685C21.3381 34.8446 21.0635 35.699 20.5142 36.2483C19.9649 36.7975 19.1105 37.0722 17.9509 37.0722L15.882 37.0722C14.7224 37.0722 13.868 36.7975 13.3187 36.2483C12.7694 35.699 12.4948 34.8446 12.4948 33.685L12.4948 29.9316L9.14424 29.9316C8.76585 29.9316 8.57666 29.7424 8.57666 29.3641ZM20.2029 32.9893C20.2029 32.0494 20.0626 31.3048 19.7818 30.7555C19.5011 30.2063 19.0922 29.9316 18.5551 29.9316L13.63 29.9316L13.63 33.685C13.63 34.5394 13.7948 35.1314 14.1243 35.461C14.4539 35.7783 15.0398 35.937 15.882 35.937L17.9509 35.937C18.8053 35.937 19.3973 35.7722 19.7269 35.4427C20.0443 35.1131 20.2029 34.5272 20.2029 33.685L20.2029 32.9893Z"
                            fill="#22546E" />
                        <path
                            d="M12.4948 21.1224C12.4948 19.9628 12.7694 19.1084 13.3187 18.5591C13.868 18.0098 14.7224 17.7352 15.882 17.7352L20.7705 17.7352C21.1489 17.7352 21.3381 17.9244 21.3381 18.3028C21.3381 18.6812 21.1489 18.8704 20.7705 18.8704L20.0198 18.8704C20.8987 19.4929 21.3381 20.5121 21.3381 21.928L21.3381 22.9533C21.3381 23.9298 21.1123 24.6499 20.6607 25.1138C20.1968 25.5654 19.4767 25.7912 18.5002 25.7912C17.5237 25.7912 16.8096 25.5593 16.358 25.0955C15.8942 24.6316 15.6623 23.9176 15.6623 22.9533L15.6623 18.8704C14.8933 18.8948 14.3623 19.0779 14.0694 19.4196C13.7764 19.7492 13.63 20.3168 13.63 21.1224L13.63 22.1843C13.63 22.9167 13.7032 23.4537 13.8497 23.7955C13.9839 24.1373 14.222 24.357 14.5637 24.4546C14.7468 24.5157 14.8811 24.5889 14.9665 24.6744C15.0398 24.7598 15.0764 24.888 15.0764 25.0588C15.0764 25.2419 15.0276 25.3884 14.9299 25.4983C14.8201 25.6081 14.6736 25.6447 14.4905 25.6081C13.807 25.4983 13.3065 25.1626 12.9891 24.6011C12.6596 24.0396 12.4948 23.234 12.4948 22.1843L12.4948 21.1224ZM18.3537 18.8704L16.7974 18.8704L16.7974 22.9533C16.7974 23.6124 16.9195 24.064 17.1636 24.3082C17.3955 24.5401 17.8411 24.656 18.5002 24.656C19.1593 24.656 19.6109 24.5401 19.8551 24.3082C20.087 24.064 20.2029 23.6124 20.2029 22.9533L20.2029 21.928C20.2029 21.0369 20.0687 20.3473 19.8001 19.8591C19.5194 19.3586 19.0983 19.0474 18.5368 18.9253L18.3537 18.8704Z"
                            fill="#22546E" />
                        <path
                            d="M20.2029 10.7317C20.2029 10.3533 20.3921 10.1641 20.7705 10.1641C21.1489 10.1641 21.3381 10.3533 21.3381 10.7317C21.3381 11.8791 21.0757 12.7213 20.5508 13.2583C20.0137 13.7954 19.1715 14.0639 18.0242 14.0639L13.63 14.0639L13.63 15.0893C13.63 15.4676 13.4408 15.6568 13.0624 15.6568C12.684 15.6568 12.4948 15.4676 12.4948 15.0893L12.4948 14.0639L10.7188 14.0639C10.3404 14.0639 10.1512 13.8748 10.1512 13.4964C10.1512 13.118 10.3404 12.9288 10.7188 12.9288L12.4948 12.9288L12.4948 10.6951C12.4948 10.3167 12.684 10.1275 13.0624 10.1275C13.4408 10.1275 13.63 10.3167 13.63 10.6951L13.63 12.9288L18.0242 12.9288C18.5856 12.9288 19.025 12.8617 19.3424 12.7274C19.6476 12.5931 19.8673 12.3673 20.0015 12.0499C20.1358 11.7326 20.2029 11.2932 20.2029 10.7317Z"
                            fill="#22546E" />
                        <path
                            d="M17.365 7.3827L17.9692 7.3827C18.8114 7.3827 19.3973 7.22402 19.7269 6.90666C20.0443 6.5771 20.2029 5.98511 20.2029 5.13068L20.2029 3.62933C20.2029 2.90918 20.1175 2.38431 19.9466 2.05475C19.7635 1.71298 19.4645 1.49938 19.0495 1.41394C18.8664 1.38952 18.7321 1.33459 18.6467 1.24915C18.549 1.1515 18.5002 1.01114 18.5002 0.828046C18.5002 0.632749 18.5551 0.486276 18.665 0.388627C18.7626 0.290979 18.903 0.25436 19.0861 0.278772C19.8551 0.376421 20.4226 0.699879 20.7888 1.24915C21.155 1.79842 21.3381 2.59182 21.3381 3.62933L21.3381 5.13068C21.3381 6.29026 21.0696 7.14468 20.5325 7.69396C19.9832 8.24323 19.1288 8.51787 17.9692 8.51787L15.882 8.51787C14.7102 8.51787 13.8497 8.24323 13.3004 7.69396C12.7511 7.14468 12.4826 6.29026 12.4948 5.13068L12.4948 3.62934C12.4948 2.46976 12.7694 1.61533 13.3187 1.06606C13.868 0.516789 14.7224 0.242152 15.882 0.242152L16.7974 0.242152C17.1758 0.242152 17.365 0.431349 17.365 0.809737L17.365 7.3827ZM16.2299 7.3827L16.2299 1.37732L15.882 1.37732C15.0276 1.37732 14.4417 1.5421 14.1243 1.87166C13.7947 2.18902 13.63 2.77491 13.63 3.62934L13.63 5.13068C13.6178 5.70437 13.6849 6.15599 13.8314 6.48555C13.9656 6.80291 14.1975 7.03483 14.5271 7.1813C14.8445 7.31557 15.2961 7.3827 15.882 7.3827L16.2299 7.3827Z"
                            fill="#22546E" />
                        <path fill-rule="evenodd" clip-rule="evenodd"
                            d="M0.154825 68.0371L1.20223 66.7646C1.30229 66.6568 1.43958 66.5915 1.58606 66.5819C1.73254 66.5723 1.87715 66.6191 1.99036 66.7129L20.3412 81.1245C20.4035 81.1759 20.4543 81.2397 20.4904 81.3119C20.5266 81.3842 20.5472 81.4632 20.5511 81.5439C20.555 81.6247 20.542 81.7053 20.513 81.7807C20.4839 81.8561 20.4395 81.9246 20.3825 81.9817L17.2889 85.2421C17.1806 85.3506 17.0339 85.4115 16.8808 85.4115C16.7278 85.4115 16.5811 85.3506 16.4728 85.2421L15.1735 84.0597C15.0653 83.9511 15.0046 83.8039 15.0046 83.6503C15.0046 83.4968 15.0653 83.3496 15.1735 83.2409L16.1457 82.2182C16.2033 82.1605 16.248 82.0912 16.277 82.015C16.3061 81.9387 16.3187 81.8572 16.3141 81.7757C16.3095 81.6942 16.2878 81.6146 16.2504 81.5421C16.213 81.4696 16.1608 81.4059 16.0971 81.3551L0.21817 68.8855C0.155827 68.8358 0.104406 68.7737 0.0671385 68.703C0.0298706 68.6324 0.00756125 68.5549 0.00161229 68.4752C-0.00433667 68.3955 0.00620334 68.3155 0.03257 68.2401C0.0589367 68.1647 0.10056 68.0956 0.154825 68.0371ZM0.156955 77.437L1.18815 76.0921C1.28821 75.9843 1.42551 75.9189 1.57199 75.9093C1.71847 75.8997 1.86308 75.9466 1.97628 76.0403L20.3345 90.4978C20.3967 90.549 20.4475 90.6127 20.4836 90.6848C20.5198 90.7569 20.5404 90.8358 20.5443 90.9165C20.5482 90.9971 20.5352 91.0776 20.5062 91.1529C20.4772 91.2282 20.4327 91.2965 20.3758 91.3535L13.0101 98.8305C12.9018 98.939 12.7551 98.9999 12.602 98.9999C12.449 98.9999 12.3022 98.939 12.194 98.8305L10.8888 97.5166C10.7806 97.408 10.7199 97.2607 10.7199 97.1072C10.7199 96.9537 10.7806 96.8064 10.8888 96.6978L16.0109 91.587C16.0685 91.5293 16.1134 91.46 16.1424 91.3837C16.1714 91.3074 16.184 91.2257 16.1793 91.1442C16.1745 91.0626 16.1526 90.983 16.1149 90.9105C16.0773 90.8381 16.0247 90.7745 15.9608 90.7239L0.2203 78.2868C0.157916 78.237 0.106469 78.1747 0.069187 78.104C0.0319045 78.0333 0.00959002 77.9556 0.00364261 77.8758C-0.0023048 77.796 0.0082432 77.7158 0.0346252 77.6403C0.0610072 77.5648 0.102654 77.4956 0.156955 77.437Z"
                            fill="#47CE8D" />
                    </svg>
                </div>
            </div>
            <div class="main-block-component-title">
                <h2>Contatos</h2>
                <div class="input-group mb-0 searchbox">
                    <input type="text" class="form-control" placeholder="Pesquisar contato"
                        aria-label="Pesquisar contato" aria-describedby="basic-addon2">
                    <div class="input-group-append">
                        <button class="btn btn-success searchbox-btn" type="button">Buscar</button>
                    </div>
                </div>
                <button class="btn btn-success main-block-component-cta1" onclick="criarContato()">Criar novo
                    contato</button>
                <button class="btn btn-success main-block-component-cta2">Importar contatos</button>
            </div>
            <div class="main-block-component-body">
                <div class="main-block-component-body-list">
                    <div class="main-block-component-body-list-header">
                        <div class="row">
                            <div class="col-sm-1 main-block-component-body-list-header-name">
                                <input type="checkbox">
                            </div>
                            <div class="col-sm-1 main-block-component-body-list-header-name">ID
                                <svg width="7" height="13" viewBox="0 0 7 13" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path d="M3.5 13L0.468911 7.75L6.53109 7.75L3.5 13Z" fill="#22546E" />
                                    <path d="M3.5 13L0.468911 7.75L6.53109 7.75L3.5 13Z" fill="#22546E" />
                                    <path d="M3.5 13L0.468911 7.75L6.53109 7.75L3.5 13Z" fill="#22546E" />
                                    <path d="M3.5 0L6.53109 5.25L0.468911 5.25L3.5 0Z" fill="#22546E" />
                                    <path d="M3.5 0L6.53109 5.25L0.468911 5.25L3.5 0Z" fill="#22546E" />
                                    <path d="M3.5 0L6.53109 5.25L0.468911 5.25L3.5 0Z" fill="#22546E" />
                                </svg>
                            </div>
                            <div class="col-sm-2 main-block-component-body-list-header-name">Nome
                                <svg width="7" height="13" viewBox="0 0 7 13" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path d="M3.5 13L0.468911 7.75L6.53109 7.75L3.5 13Z" fill="#22546E" />
                                    <path d="M3.5 13L0.468911 7.75L6.53109 7.75L3.5 13Z" fill="#22546E" />
                                    <path d="M3.5 13L0.468911 7.75L6.53109 7.75L3.5 13Z" fill="#22546E" />
                                    <path d="M3.5 0L6.53109 5.25L0.468911 5.25L3.5 0Z" fill="#22546E" />
                                    <path d="M3.5 0L6.53109 5.25L0.468911 5.25L3.5 0Z" fill="#22546E" />
                                    <path d="M3.5 0L6.53109 5.25L0.468911 5.25L3.5 0Z" fill="#22546E" />
                                </svg>
                            </div>
                            <div class="col-sm-1 main-block-component-body-list-header-name">Status
                            </div>
                            <div class="col-sm-5 main-block-component-body-list-header-name">Ações</div>
                        </div>
                    </div>
                    <div class="main-block-component-body-list-container">
                        <div class="main-block-component-body-list-line odd">
                            <div class="row">
                                <div class="col-sm-1 main-block-component-body-list-item-name">
                                    <input type="checkbox">
                                </div>
                                <div class="col-sm-1 main-block-component-body-list-item-name">0000</div>
                                <div class="col-sm-2 main-block-component-body-list-item-name">Mariana Brasil</div>
                                <div class="col-sm-1 main-block-component-body-list-item-name">Ativo</div>
                                <div class="col-sm-6 main-block-component-body-list-item-name">
                                    <div class="">Atualizar</div>
                                    <div class="">Excluir</div>
                                    <div class="">Enviar Mensagem</div>
                                    <div class="btn btn-success main-block-component-body-list-item-cta1">+ Fila/Esteira
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="main-block-component-body-list-line even">
                            <div class="row">
                                <div class="col-sm-1 main-block-component-body-list-item-name">
                                    <input type="checkbox">
                                </div>
                                <div class="col-sm-1 main-block-component-body-list-item-name">0001</div>
                                <div class="col-sm-2 main-block-component-body-list-item-name">Mariana Brasil</div>
                                <div class="col-sm-1 main-block-component-body-list-item-name">Ativo</div>
                                <div class="col-sm-6 main-block-component-body-list-item-name">
                                    <div class="">Atualizar</div>
                                    <div class="">Excluir</div>
                                    <div class="">Enviar Mensagem</div>
                                    <div class="btn btn-success main-block-component-body-list-item-cta1">+ Fila/Esteira
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="main-block-component-body-list-line odd">
                            <div class="row">
                                <div class="col-sm-1 main-block-component-body-list-item-name">
                                    <input type="checkbox">
                                </div>
                                <div class="col-sm-1 main-block-component-body-list-item-name">0001</div>
                                <div class="col-sm-2 main-block-component-body-list-item-name">Mariana Brasil</div>
                                <div class="col-sm-1 main-block-component-body-list-item-name">Ativo</div>
                                <div class="col-sm-6 main-block-component-body-list-item-name">
                                    <div class="">Atualizar</div>
                                    <div class="">Excluir</div>
                                    <div class="">Enviar Mensagem</div>
                                    <div class="btn btn-success main-block-component-body-list-item-cta1">+ Fila/Esteira
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="main-block-component-body-list-line even">
                            <div class="row">
                                <div class="col-sm-1 main-block-component-body-list-item-name">
                                    <input type="checkbox">
                                </div>
                                <div class="col-sm-1 main-block-component-body-list-item-name">0001</div>
                                <div class="col-sm-2 main-block-component-body-list-item-name">Mariana Brasil</div>
                                <div class="col-sm-1 main-block-component-body-list-item-name">Ativo</div>
                                <div class="col-sm-6 main-block-component-body-list-item-name">
                                    <div class="">Atualizar</div>
                                    <div class="">Excluir</div>
                                    <div class="">Enviar Mensagem</div>
                                    <div class="btn btn-success main-block-component-body-list-item-cta1">+ Fila/Esteira
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="main-block-component-body-list-line odd">
                            <div class="row">
                                <div class="col-sm-1 main-block-component-body-list-item-name">
                                    <input type="checkbox">
                                </div>
                                <div class="col-sm-1 main-block-component-body-list-item-name">0001</div>
                                <div class="col-sm-2 main-block-component-body-list-item-name">Mariana Brasil</div>
                                <div class="col-sm-1 main-block-component-body-list-item-name">Ativo</div>
                                <div class="col-sm-6 main-block-component-body-list-item-name">
                                    <div class="">Atualizar</div>
                                    <div class="">Excluir</div>
                                    <div class="">Enviar Mensagem</div>
                                    <div class="btn btn-success main-block-component-body-list-item-cta1">+ Fila/Esteira
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="main-block-component-body-list-line even">
                            <div class="row">
                                <div class="col-sm-1 main-block-component-body-list-item-name">
                                    <input type="checkbox">
                                </div>
                                <div class="col-sm-1 main-block-component-body-list-item-name">0001</div>
                                <div class="col-sm-2 main-block-component-body-list-item-name">Mariana Brasil</div>
                                <div class="col-sm-1 main-block-component-body-list-item-name">Ativo</div>
                                <div class="col-sm-6 main-block-component-body-list-item-name">
                                    <div class="">Atualizar</div>
                                    <div class="">Excluir</div>
                                    <div class="">Enviar Mensagem</div>
                                    <div class="btn btn-success main-block-component-body-list-item-cta1">+ Fila/Esteira
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="main-block-component-body-list-line odd">
                            <div class="row">
                                <div class="col-sm-1 main-block-component-body-list-item-name">
                                    <input type="checkbox">
                                </div>
                                <div class="col-sm-1 main-block-component-body-list-item-name">0001</div>
                                <div class="col-sm-2 main-block-component-body-list-item-name">Mariana Brasil</div>
                                <div class="col-sm-1 main-block-component-body-list-item-name">Ativo</div>
                                <div class="col-sm-6 main-block-component-body-list-item-name">
                                    <div class="">Atualizar</div>
                                    <div class="">Excluir</div>
                                    <div class="">Enviar Mensagem</div>
                                    <div class="btn btn-success main-block-component-body-list-item-cta1">+ Fila/Esteira
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="main-block-component-body-list-line even">
                            <div class="row">
                                <div class="col-sm-1 main-block-component-body-list-item-name">
                                    <input type="checkbox">
                                </div>
                                <div class="col-sm-1 main-block-component-body-list-item-name">0001</div>
                                <div class="col-sm-2 main-block-component-body-list-item-name">Mariana Brasil</div>
                                <div class="col-sm-1 main-block-component-body-list-item-name">Ativo</div>
                                <div class="col-sm-6 main-block-component-body-list-item-name">
                                    <div class="">Atualizar</div>
                                    <div class="">Excluir</div>
                                    <div class="">Enviar Mensagem</div>
                                    <div class="btn btn-success main-block-component-body-list-item-cta1">+ Fila/Esteira
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="main-block-component-body-list-line odd">
                            <div class="row">
                                <div class="col-sm-1 main-block-component-body-list-item-name">
                                    <input type="checkbox">
                                </div>
                                <div class="col-sm-1 main-block-component-body-list-item-name">0001</div>
                                <div class="col-sm-2 main-block-component-body-list-item-name">Mariana Brasil</div>
                                <div class="col-sm-1 main-block-component-body-list-item-name">Ativo</div>
                                <div class="col-sm-6 main-block-component-body-list-item-name">
                                    <div class="">Atualizar</div>
                                    <div class="">Excluir</div>
                                    <div class="">Enviar Mensagem</div>
                                    <div class="btn btn-success main-block-component-body-list-item-cta1">+ Fila/Esteira
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="main-block-component-body-list-line even">
                            <div class="row">
                                <div class="col-sm-1 main-block-component-body-list-item-name">
                                    <input type="checkbox">
                                </div>
                                <div class="col-sm-1 main-block-component-body-list-item-name">0001</div>
                                <div class="col-sm-2 main-block-component-body-list-item-name">Mariana Brasil</div>
                                <div class="col-sm-1 main-block-component-body-list-item-name">Ativo</div>
                                <div class="col-sm-6 main-block-component-body-list-item-name">
                                    <div class="">Atualizar</div>
                                    <div class="">Excluir</div>
                                    <div class="">Enviar Mensagem</div>
                                    <div class="btn btn-success main-block-component-body-list-item-cta1">+ Fila/Esteira
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="main-block-component-body-list-line odd">
                            <div class="row">
                                <div class="col-sm-1 main-block-component-body-list-item-name">
                                    <input type="checkbox">
                                </div>
                                <div class="col-sm-1 main-block-component-body-list-item-name">0001</div>
                                <div class="col-sm-2 main-block-component-body-list-item-name">Mariana Brasil</div>
                                <div class="col-sm-1 main-block-component-body-list-item-name">Ativo</div>
                                <div class="col-sm-6 main-block-component-body-list-item-name">
                                    <div class="">Atualizar</div>
                                    <div class="">Excluir</div>
                                    <div class="">Enviar Mensagem</div>
                                    <div class="btn btn-success main-block-component-body-list-item-cta1">+ Fila/Esteira
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="main-block-component-body-list-line even">
                            <div class="row">
                                <div class="col-sm-1 main-block-component-body-list-item-name">
                                    <input type="checkbox">
                                </div>
                                <div class="col-sm-1 main-block-component-body-list-item-name">0001</div>
                                <div class="col-sm-2 main-block-component-body-list-item-name">Mariana Brasil</div>
                                <div class="col-sm-1 main-block-component-body-list-item-name">Ativo</div>
                                <div class="col-sm-6 main-block-component-body-list-item-name">
                                    <div class="">Atualizar</div>
                                    <div class="">Excluir</div>
                                    <div class="">Enviar Mensagem</div>
                                    <div class="btn btn-success main-block-component-body-list-item-cta1">+ Fila/Esteira
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="main-block-component-body-list-line odd">
                            <div class="row">
                                <div class="col-sm-1 main-block-component-body-list-item-name">
                                    <input type="checkbox">
                                </div>
                                <div class="col-sm-1 main-block-component-body-list-item-name">0001</div>
                                <div class="col-sm-2 main-block-component-body-list-item-name">Mariana Brasil</div>
                                <div class="col-sm-1 main-block-component-body-list-item-name">Ativo</div>
                                <div class="col-sm-6 main-block-component-body-list-item-name">
                                    <div class="">Atualizar</div>
                                    <div class="">Excluir</div>
                                    <div class="">Enviar Mensagem</div>
                                    <div class="btn btn-success main-block-component-body-list-item-cta1">+ Fila/Esteira
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="main-block-component-body-list-line even">
                            <div class="row">
                                <div class="col-sm-1 main-block-component-body-list-item-name">
                                    <input type="checkbox">
                                </div>
                                <div class="col-sm-1 main-block-component-body-list-item-name">0001</div>
                                <div class="col-sm-2 main-block-component-body-list-item-name">Mariana Brasil</div>
                                <div class="col-sm-1 main-block-component-body-list-item-name">Ativo</div>
                                <div class="col-sm-6 main-block-component-body-list-item-name">
                                    <div class="">Atualizar</div>
                                    <div class="">Excluir</div>
                                    <div class="">Enviar Mensagem</div>
                                    <div class="btn btn-success main-block-component-body-list-item-cta1">+ Fila/Esteira
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="main-block-component-body-list-line odd">
                            <div class="row">
                                <div class="col-sm-1 main-block-component-body-list-item-name">
                                    <input type="checkbox">
                                </div>
                                <div class="col-sm-1 main-block-component-body-list-item-name">0001</div>
                                <div class="col-sm-2 main-block-component-body-list-item-name">Mariana Brasil</div>
                                <div class="col-sm-1 main-block-component-body-list-item-name">Ativo</div>
                                <div class="col-sm-6 main-block-component-body-list-item-name">
                                    <div class="">Atualizar</div>
                                    <div class="">Excluir</div>
                                    <div class="">Enviar Mensagem</div>
                                    <div class="btn btn-success main-block-component-body-list-item-cta1">+ Fila/Esteira
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="main-block-component-body-list-line even">
                            <div class="row">
                                <div class="col-sm-1 main-block-component-body-list-item-name">
                                    <input type="checkbox">
                                </div>
                                <div class="col-sm-1 main-block-component-body-list-item-name">0001</div>
                                <div class="col-sm-2 main-block-component-body-list-item-name">Mariana Brasil</div>
                                <div class="col-sm-1 main-block-component-body-list-item-name">Ativo</div>
                                <div class="col-sm-6 main-block-component-body-list-item-name">
                                    <div class="">Atualizar</div>
                                    <div class="">Excluir</div>
                                    <div class="">Enviar Mensagem</div>
                                    <div class="btn btn-success main-block-component-body-list-item-cta1">+ Fila/Esteira
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="main-block-component-body-list-line odd">
                            <div class="row">
                                <div class="col-sm-1 main-block-component-body-list-item-name">
                                    <input type="checkbox">
                                </div>
                                <div class="col-sm-1 main-block-component-body-list-item-name">0001</div>
                                <div class="col-sm-2 main-block-component-body-list-item-name">Mariana Brasil</div>
                                <div class="col-sm-1 main-block-component-body-list-item-name">Ativo</div>
                                <div class="col-sm-6 main-block-component-body-list-item-name">
                                    <div class="">Atualizar</div>
                                    <div class="">Excluir</div>
                                    <div class="">Enviar Mensagem</div>
                                    <div class="btn btn-success main-block-component-body-list-item-cta1">+ Fila/Esteira
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="main-block-component-body-list-line even">
                            <div class="row">
                                <div class="col-sm-1 main-block-component-body-list-item-name">
                                    <input type="checkbox">
                                </div>
                                <div class="col-sm-1 main-block-component-body-list-item-name">0001</div>
                                <div class="col-sm-2 main-block-component-body-list-item-name">Mariana Brasil</div>
                                <div class="col-sm-1 main-block-component-body-list-item-name">Ativo</div>
                                <div class="col-sm-6 main-block-component-body-list-item-name">
                                    <div class="">Atualizar</div>
                                    <div class="">Excluir</div>
                                    <div class="">Enviar Mensagem</div>
                                    <div class="btn btn-success main-block-component-body-list-item-cta1">+ Fila/Esteira
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="main-block-component-body-list-line odd">
                            <div class="row">
                                <div class="col-sm-1 main-block-component-body-list-item-name">
                                    <input type="checkbox">
                                </div>
                                <div class="col-sm-1 main-block-component-body-list-item-name">0001</div>
                                <div class="col-sm-2 main-block-component-body-list-item-name">Mariana Brasil</div>
                                <div class="col-sm-1 main-block-component-body-list-item-name">Ativo</div>
                                <div class="col-sm-6 main-block-component-body-list-item-name">
                                    <div class="">Atualizar</div>
                                    <div class="">Excluir</div>
                                    <div class="">Enviar Mensagem</div>
                                    <div class="btn btn-success main-block-component-body-list-item-cta1">+ Fila/Esteira
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="main-block-component-body-list-line even">
                            <div class="row">
                                <div class="col-sm-1 main-block-component-body-list-item-name">
                                    <input type="checkbox">
                                </div>
                                <div class="col-sm-1 main-block-component-body-list-item-name">0001</div>
                                <div class="col-sm-2 main-block-component-body-list-item-name">Mariana Brasil</div>
                                <div class="col-sm-1 main-block-component-body-list-item-name">Ativo</div>
                                <div class="col-sm-6 main-block-component-body-list-item-name">
                                    <div class="">Atualizar</div>
                                    <div class="">Excluir</div>
                                    <div class="">Enviar Mensagem</div>
                                    <div class="btn btn-success main-block-component-body-list-item-cta1">+ Fila/Esteira
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="main-block-component-body-list-line odd">
                            <div class="row">
                                <div class="col-sm-1 main-block-component-body-list-item-name">
                                    <input type="checkbox">
                                </div>
                                <div class="col-sm-1 main-block-component-body-list-item-name">0001</div>
                                <div class="col-sm-2 main-block-component-body-list-item-name">Mariana Brasil</div>
                                <div class="col-sm-1 main-block-component-body-list-item-name">Ativo</div>
                                <div class="col-sm-6 main-block-component-body-list-item-name">
                                    <div class="">Atualizar</div>
                                    <div class="">Excluir</div>
                                    <div class="">Enviar Mensagem</div>
                                    <div class="btn btn-success main-block-component-body-list-item-cta1">+ Fila/Esteira
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="main-block-component-body-list-line even">
                            <div class="row">
                                <div class="col-sm-1 main-block-component-body-list-item-name">
                                    <input type="checkbox">
                                </div>
                                <div class="col-sm-1 main-block-component-body-list-item-name">0001</div>
                                <div class="col-sm-2 main-block-component-body-list-item-name">Mariana Brasil</div>
                                <div class="col-sm-1 main-block-component-body-list-item-name">Ativo</div>
                                <div class="col-sm-6 main-block-component-body-list-item-name">
                                    <div class="">Atualizar</div>
                                    <div class="">Excluir</div>
                                    <div class="">Enviar Mensagem</div>
                                    <div class="btn btn-success main-block-component-body-list-item-cta1">+ Fila/Esteira
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="main-block-component-body-list-line odd">
                            <div class="row">
                                <div class="col-sm-1 main-block-component-body-list-item-name">
                                    <input type="checkbox">
                                </div>
                                <div class="col-sm-1 main-block-component-body-list-item-name">0001</div>
                                <div class="col-sm-2 main-block-component-body-list-item-name">Mariana Brasil</div>
                                <div class="col-sm-1 main-block-component-body-list-item-name">Ativo</div>
                                <div class="col-sm-6 main-block-component-body-list-item-name">
                                    <div class="">Atualizar</div>
                                    <div class="">Excluir</div>
                                    <div class="">Enviar Mensagem</div>
                                    <div class="btn btn-success main-block-component-body-list-item-cta1">+ Fila/Esteira
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="main-block-component-body-list-line even">
                            <div class="row">
                                <div class="col-sm-1 main-block-component-body-list-item-name">
                                    <input type="checkbox">
                                </div>
                                <div class="col-sm-1 main-block-component-body-list-item-name">0001</div>
                                <div class="col-sm-2 main-block-component-body-list-item-name">Mariana Brasil</div>
                                <div class="col-sm-1 main-block-component-body-list-item-name">Ativo</div>
                                <div class="col-sm-6 main-block-component-body-list-item-name">
                                    <div class="">Atualizar</div>
                                    <div class="">Excluir</div>
                                    <div class="">Enviar Mensagem</div>
                                    <div class="btn btn-success main-block-component-body-list-item-cta1">+ Fila/Esteira
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="main-block-component-body-list-line odd">
                            <div class="row">
                                <div class="col-sm-1 main-block-component-body-list-item-name">
                                    <input type="checkbox">
                                </div>
                                <div class="col-sm-1 main-block-component-body-list-item-name">0001</div>
                                <div class="col-sm-2 main-block-component-body-list-item-name">Mariana Brasil</div>
                                <div class="col-sm-1 main-block-component-body-list-item-name">Ativo</div>
                                <div class="col-sm-6 main-block-component-body-list-item-name">
                                    <div class="">Atualizar</div>
                                    <div class="">Excluir</div>
                                    <div class="">Enviar Mensagem</div>
                                    <div class="btn btn-success main-block-component-body-list-item-cta1">+ Fila/Esteira
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="main-block-component-body-list-line even">
                            <div class="row">
                                <div class="col-sm-1 main-block-component-body-list-item-name">
                                    <input type="checkbox">
                                </div>
                                <div class="col-sm-1 main-block-component-body-list-item-name">0001</div>
                                <div class="col-sm-2 main-block-component-body-list-item-name">Mariana Brasil</div>
                                <div class="col-sm-1 main-block-component-body-list-item-name">Ativo</div>
                                <div class="col-sm-6 main-block-component-body-list-item-name">
                                    <div class="">Atualizar</div>
                                    <div class="">Excluir</div>
                                    <div class="">Enviar Mensagem</div>
                                    <div class="btn btn-success main-block-component-body-list-item-cta1">+ Fila/Esteira
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="main-block-component-body-list-line odd">
                            <div class="row">
                                <div class="col-sm-1 main-block-component-body-list-item-name">
                                    <input type="checkbox">
                                </div>
                                <div class="col-sm-1 main-block-component-body-list-item-name">0001</div>
                                <div class="col-sm-2 main-block-component-body-list-item-name">Mariana Brasil</div>
                                <div class="col-sm-1 main-block-component-body-list-item-name">Ativo</div>
                                <div class="col-sm-6 main-block-component-body-list-item-name">
                                    <div class="">Atualizar</div>
                                    <div class="">Excluir</div>
                                    <div class="">Enviar Mensagem</div>
                                    <div class="btn btn-success main-block-component-body-list-item-cta1">+ Fila/Esteira
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="main-block-component-body-list-line even">
                            <div class="row">
                                <div class="col-sm-1 main-block-component-body-list-item-name">
                                    <input type="checkbox">
                                </div>
                                <div class="col-sm-1 main-block-component-body-list-item-name">0001</div>
                                <div class="col-sm-2 main-block-component-body-list-item-name">Mariana Brasil</div>
                                <div class="col-sm-1 main-block-component-body-list-item-name">Ativo</div>
                                <div class="col-sm-6 main-block-component-body-list-item-name">
                                    <div class="">Atualizar</div>
                                    <div class="">Excluir</div>
                                    <div class="">Enviar Mensagem</div>
                                    <div class="btn btn-success main-block-component-body-list-item-cta1">+ Fila/Esteira
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="main-block-component-body-list-line odd">
                            <div class="row">
                                <div class="col-sm-1 main-block-component-body-list-item-name">
                                    <input type="checkbox">
                                </div>
                                <div class="col-sm-1 main-block-component-body-list-item-name">0001</div>
                                <div class="col-sm-2 main-block-component-body-list-item-name">Mariana Brasil</div>
                                <div class="col-sm-1 main-block-component-body-list-item-name">Ativo</div>
                                <div class="col-sm-6 main-block-component-body-list-item-name">
                                    <div class="">Atualizar</div>
                                    <div class="">Excluir</div>
                                    <div class="">Enviar Mensagem</div>
                                    <div class="btn btn-success main-block-component-body-list-item-cta1">+ Fila/Esteira
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="main-block-component-body-list-line even">
                            <div class="row">
                                <div class="col-sm-1 main-block-component-body-list-item-name">
                                    <input type="checkbox">
                                </div>
                                <div class="col-sm-1 main-block-component-body-list-item-name">9997</div>
                                <div class="col-sm-2 main-block-component-body-list-item-name">Mariana Brasil</div>
                                <div class="col-sm-1 main-block-component-body-list-item-name">Ativo</div>
                                <div class="col-sm-6 main-block-component-body-list-item-name">
                                    <div class="">Atualizar</div>
                                    <div class="">Excluir</div>
                                    <div class="">Enviar Mensagem</div>
                                    <div class="btn btn-success main-block-component-body-list-item-cta1">+ Fila/Esteira
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="main-block-component-body-list-line odd">
                            <div class="row">
                                <div class="col-sm-1 main-block-component-body-list-item-name">
                                    <input type="checkbox">
                                </div>
                                <div class="col-sm-1 main-block-component-body-list-item-name">9998</div>
                                <div class="col-sm-2 main-block-component-body-list-item-name">Mariana Brasil</div>
                                <div class="col-sm-1 main-block-component-body-list-item-name">Ativo</div>
                                <div class="col-sm-6 main-block-component-body-list-item-name">
                                    <div class="">Atualizar</div>
                                    <div class="">Excluir</div>
                                    <div class="">Enviar Mensagem</div>
                                    <div class="btn btn-success main-block-component-body-list-item-cta1">+ Fila/Esteira
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="main-block-component-body-list-line even">
                            <div class="row">
                                <div class="col-sm-1 main-block-component-body-list-item-name">
                                    <input type="checkbox">
                                </div>
                                <div class="col-sm-1 main-block-component-body-list-item-name">9999</div>
                                <div class="col-sm-2 main-block-component-body-list-item-name">Mariana Brasil</div>
                                <div class="col-sm-1 main-block-component-body-list-item-name">Ativo</div>
                                <div class="col-sm-6 main-block-component-body-list-item-name">
                                    <div class="">Atualizar</div>
                                    <div class="">Excluir</div>
                                    <div class="">Enviar Mensagem</div>
                                    <div class="btn btn-success main-block-component-body-list-item-cta1">+ Fila/Esteira
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="main-block-component-body-list-bottom-line">
                    </div>
                </div>

                <div class="main-block-component-body-detail" id="main-block-component-body-detail">
                    <div class="main-block-component-body-detail-close" onclick="cancelarCriarContato()">
                        <svg width="46" height="46" viewBox="0 0 46 46" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <circle cx="22.6274" cy="23.2142" r="16" transform="rotate(-45 22.6274 23.2142)"
                                fill="#22546E" />
                            <path d="M14.8053 18.5028L17.7195 15.5886L30.5306 28.3998L27.6164 31.3139L14.8053 18.5028Z"
                                fill="#47CE8D" />
                            <path d="M27.5635 15.0618L30.4751 17.9734L17.2758 31.1727L14.3642 28.2611L27.5635 15.0618Z"
                                fill="#47CE8D" />
                        </svg>
                    </div>
                    <div class="main-block-component-body-detail-header">
                        <div class="main-block-component-body-detail-header-name">
                            Mariana Brasil
                        </div>
                        <div class="main-block-component-body-detail-header-name">
                            |
                        </div>
                        <div class="main-block-component-body-detail-header-name">
                            ID: 0001
                        </div>
                    </div>
                    <div class="main-block-component-body-detail-container">
                        <form method="POST" action="/contatos/criar">
                            <div class="main-block-component-body-detail-container-photo">
                                <div>Editar</div>
                                <div>|</div>
                                <div>Excluir</div>
                            </div>
                            <div class="main-block-component-body-detail-container-status">
                                <div>Status do contato:</div>
                                <!-- Rounded switch -->
                                <label class="switch">
                                    <label for="status" class="sr-only">Status do Contato</label>
                                    <input type="checkbox" name="status" id="status" checked>
                                    <span class="slider round"></span>
                                </label>
                            </div>
                            <div class="form-row form-group">
                                <div class="col">
                                    <label for="firstName" class="sr-only">Nome</label>
                                    <input type="text" class="form-control" placeholder="Nome" name="firstName"
                                        id="firstName" required>
                                </div>
                                <div class="col">
                                    <label for="lastName" class="sr-only">Sobrenome</label>
                                    <input type="text" class="form-control" placeholder="Sobrenome" name="lastName"
                                        id="lastName" required>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="email" class="sr-only">Email</label>
                                <input type="email" class="form-control" id="email" name="email"
                                    placeholder="seu@email.com.br" required>
                            </div>
                            <div class="form-group">
                                <label for="phoneNumber" class="sr-only">Celular/WhatsApp</label>
                                <input type="tel" class="form-control" id="phoneNumber" name="phoneNumber"
                                    placeholder="Celular/WhatsApp: só números!" required>
                            </div>
                            <div class="form-group">
                                <label for="cpfOrCnpj" class="sr-only">CPF ou CNPJ</label>
                                <input type="text" class="form-control" id="cpfOrCnpj" name="cpfOrCnpj"
                                    placeholder="CPF ou CNPJ: só números!">
                            </div>
                            <div class="form-row form-group">
                                <div class="col">
                                    <input type="submit" class="btn btn-success btn-block" value="Salvar">
                                </div>
                            </div>
                        </form>
                    </div>
                </div>

            </div>
        </div>
    </main>

    <script src="/javascripts/contatoDOM.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
        integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
        crossorigin="anonymous"></script>

</body>

</html>