<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wappdate</title>
    <link rel="stylesheet" href="../public/stylesheets/style.css">
    <link rel="icon" href="../public/images/favicon.svg" type="images" sizes="16x16">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    
</head>

<body class="body-landing-page">
    
    <nav class="navbar-brand">
        <img src="../public/images/logo_verde_azul.svg" alt="Logo Wappdate">
        <div class="menu">
            <a href="" class="text-nav-menu"> Por que o Wappdate?</a>
            <a href="" class="text-nav-menu">Funcionalidades</a>
            <a href="" class="text-nav-menu">Conheça os planos</a>
            <a href="" class="text-nav-menu">Entre em Contato</a>
        </div>
        <div>
        <a href="../views/login.html" class="text-nav-menu">Login</a>
        <button class="button-primary-nav">Crie sua conta</button>
        </div>
    </nav>
        <section class="secoes-e">
            <div>
                <h3>Lorem ipsum dolor sit amet, consectetur adipiscing. </h3>
                <p class="margin-32">Lorem ipsum dolor sit amet, consectetur adipiscing elit. consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
                <button type="submit" class="button-primary">Conheça!</button>
            </div>
            <img src="../public/images/illustration 1.svg" alt="Ilustração de pessoas sentadas ao redor de uma mesa. Um avião de papel flutua por um rastro de linha pontilhada indicando movimentação de uma mensagem em direção a um dispositivo móvel que está nas mãos de outra pessoa em pé. Há arvores e núvens no fundo.">
        </section>

        <section class="secoes-d">
            <img src="../public/images/ilustration-cell.svg" alt="Ilustração de um iPhone 11 com o WhatsApp aberto com mensagens recebidas pelo Wappdate">
            <div class="secao-500-d">
                <h3>Lorem ipsum dolor sit amet, consectetur adipiscing. </h3>
                <p class="margin-32">Lorem ipsum dolor sit amet, consectetur adipiscing elit. consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
                <button type="submit" class="button-secondary">Saiba mais</button>
            </div>
        </section>

        <section class="secoes-e">
            <div class="secao-500-e">
                <h3>Lorem ipsum dolor sit amet, consectetur adipiscing. </h3>
                <p class="margin-32">Lorem ipsum dolor sit amet, consectetur adipiscing elit. consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
            </div>
            <img src="../public/images/icon-whatsapp.svg" alt="Logo WhatsApp">
            <img src="../public/images/illustration 2.svg" alt="Ilustração uma pessoa sentada em um puff segurando um dispositivo móvel com uma linha pontilhada indicando movimento de uma mensagem em sua direção. Mais 2 pessoas em pé ao redor e um vaso com uma planta ao fundo.">
        </section>
        
        <section class="secao-de-baloes secoes">
            <div>
                Principais Funcionalidades
            </div>
            <div class="baloes">
                <img src="../public/images/chat-e.svg" alt="">
                <img src="../public/images/chat-e.svg" alt="">
                <img src="../public/images/chat-e.svg" alt="">
                <img src="../public/images/chat-e.svg" alt="">
            </div>
            <div class="baloes">
                <img src="../public/images/chat-d.svg" alt="">
                <img src="../public/images/chat-d.svg" alt="">
                <img src="../public/images/chat-d.svg" alt="">
                <img src="../public/images/chat-d.svg" alt="">
            </div>
            
        </section>

        <section class="secoes">
            <h3>Conheça nossos planos</h3>
            <div>
                <div class="form-wrapper">
                    card 1
                </div>
                <div class="form-wrapper">
                    card 2
                </div>
                <div class="form-wrapper">
                    card 3
                </div>
            </div>
        </section>

        <section class="secoes">
            <h3>Lorem ipsum dolor sit amet, consectetur adipiscing elit. </h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua sit amet, consectetur adipiscing elit. consectetur. </p>
        </section>
    
    <section class="rodape secoes">
        <div class="mid-secoes">
            <h5>Entre em contato</h5>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua sit amet, consectetur adipiscing elit. consectetur. </p>
            <button type="submit">Iniciar Conversa</button>
        </div>
        <h5>Envie uma mensagem</h5>
        <form action="mensagem.js" method="POST" class="">
            <div class="input-field col s12">
                <input id="name" type="text" class="validate">
                <label for="name">Nome Completo</label>
            </div>
        
            </div>
        
            <div>
            <div class="input-field col s12">
                <input id="email" type="email" class="validate">
                <label for="email">Email</label>
            </div>
            </div>
        
            <div class="input-field col s12">
                <input id="tel" type="tel" class="validate">
                <label for="tel">WhatsApp</label>
            </div>
                <button type="submit">Enviar mensagem</button>
        </form>
    </section>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</body>

</html>
