<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="../public/stylesheets/style.css">
    <link rel="icon" href="../public/images/favicon.svg" type="images" sizes="16x16">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    
</head>
<body class="login-bg">
        <section action="test.js" method="POST" class="form-wrapper">
            <img src="../public/images/logo_verde_azul.svg" alt="Logo Wappdate">
            <h5 class="title-card">Boas-vindas!</h5>
            <div class="input">
                <form>
                  <div>
                    <div class="input-field col s12">
                      <input id="email" type="email" class="validate">
                      <label for="email">Email</label>
                    </div>
                  </div>
                  <div>
                    <div class="input-field col s12">
                      <input id="password" type="password" class="validate">
                      <label for="password">Senha</label>
                    </div>
                  </div>
                </form>
            </div>
            <a href="redefinirSenha.html" class="text-link">Esqueceu a senha?</a>
            <button type="submit" class="button-login">Entrar</button>
            <div class="linha">
              <div class="separador">
              </div> 
              <div class="ou">
                Ou
              </div>
              <div class="separador">
              </div>
            </div>
            <div>
                <button type="submit" class="button-google">Entrar com Google
                </button>
            </div>
            <div class="text-center-botton">
              <div>
              Ainda não é cliente? 
              <a href="cadastro.html"> Crie sua conta!</a>
              </div>
            </div>
          </section>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</body>
</html>