<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Redefinir Senha</title>
    <link rel="stylesheet" href="../public/stylesheets/style.css">
    <link rel="icon" href="../public/images/favicon.svg" type="images" sizes="16x16">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    
</head>
<body class="login-bg">

        <section action="test.js" method="POST" class="form-wrapper">
            <img src="../public/images/logo_verde_azul.svg" alt="Logo Wappdate">
            <h5 class="title-card">Esqueceu a senha?</h5>
            <p class="paragrafo-card">Não se preocupe, enviaremos um link para o endereço informado com as instruções para redefinir sua senha.</p>
            
            <div class="input">
                <form>
                  <div>
                    <div class="input-field col s12">
                      <input id="email" type="email" class="validate">
                      <label for="email">Email</label>
                    </div>
                  </div>
                </form>
                <a href="login.html" class="text-link">Fazer Login</a>
                <button type="submit" class="button-login">Redefinir</button>
                <div class="text-center-botton">
                <div>
                Ainda não é cliente? 
                <a href="cadastro.html"> Crie sua conta!</a>
                </div>
            </div>
        </section>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</body>
</html>