@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,800;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

body{
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  font-size: 12px;
  color: #22546E;
}

.body-gray{
  background-color: #fcf9f9;
}

h1 {
  font-weight: 600;
  font-size: 24px;
  color: #47CE8D;
}

h2 {
  font-weight: 600;
  font-size: 16px;
  color: #E5E5E5;
}

.navbarfullwidth {
  position: absolute;
  top: 0;
  width: 100%;
  height: 80px;
  background-color: #F2F2F2;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.25);
}

.navbarmenu {
  max-width: 1246px;
  height: 80px;
  display: flex;
  justify-content: space-between;
  text-align: center;
  margin: auto;
  font-size: 12px;
}

.logo {
  width: 133px;
  height: 33.67px;
  padding: 22px 0 22px 0;
}

.menu-item {
  height: 80px;
  padding-left: 37px;
  padding-right: 37px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  color: #16394B;
  font-weight: 600;
}

.menu-item:hover {
  background-color: #E5E5E5;
}

.sub-menu {
  position: fixed;
  top: 80px;
  left: 0px;
  width: 100%;
  height: 35px;
  background-color: #47CE8D;
  display: none;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.25);
}

.sub-menu-item {
  padding-left: 37px;
  padding-right: 37px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  color: #ffffff;
  font-weight: 400;
}

.menu-item:hover .sub-menu {
  display: flex;
}

.sub-menu-item:hover {
  background-color: #22546E;
}

.user-menu-box {
  min-width: 200px;
  max-width: 200px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  justify-items: start;
  color: #47CE8D;
  text-align: right;
  flex-wrap: wrap;
}

.avatar-box {
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  justify-items: start;
  padding: 10px;
  /* background-color: #E5E5E5;
  border-top-right-radius: 29px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px; */
}

.avatar-arrow {
  position: relative;
  align-self: center;
  z-index: 99;
}

.avatar-name {
  display: block;
  font-size: 12px;
  margin-left: 10px;
  margin-right: 10px;
  font-weight: 600;
  z-index: 99;
}

.avatar-configuration {
  display: block;
  font-size: 9px;
  font-weight: 200;
  /* text-decoration: underline; */
  z-index: 99;
}

.avatar-photo {
  display: block;
  width: 45px;
  height: 45px;
  background: #47CE8D;
  border-radius: 50%;
  flex-shrink: 0;
  z-index: 99;
}

.active-user-menu {
  width: 200px;
  position: absolute;
  top: 8px;
  background-color: #E5E5E5;
  padding: 10px;
  border-top-right-radius: 29px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  text-align: left;
  color: #16394B;
  z-index: 98;
  display: none;
}

.user-menu-box:hover .active-user-menu {
  display: block;
}

.active-user-menu-divisor {
  width: 100%;
  margin-top: 61px;
  border: solid 1px #F2F2F2;
  align-items: center;
  justify-content: center;
  justify-items: center;
  background-color: #F2F2F2;
}

.active-user-menu-title {
  margin: 20px 0 5px 15px;
  line-height: 30px;
}

.active-user-menu-item {
  margin: 0 0 0 20px;
  text-decoration: underline;
  font-weight: 500;
}

.active-user-menu-cta {
  margin: 30px 0 0 0;
  font-weight: 500;
  color: white;
  width: 100%;
  border-radius: 5px;
  background-color: #47CE8D;
  padding: 20px;
  text-align: left;
}

.workspace-cta {
  position: relative;
  top: 120px;
  max-width: 1246px;
  height: 130px;
  background-color: #E5E5E5;
  margin: auto;
  border-radius: 5px;
  padding: 35px;
  box-sizing: border-box;
}

.btn-success {
  background-color: #47CE8D;
  border: none;
  font-size: 12px;
  padding: 10px 40px 10px 40px;
}

.btn-success-align {
  position: absolute;
  right: 50px;
  top: 45px;
}

.carroussel-component {
  position: relative;
  display: flex;
  top: 160px;
  max-width: 1246px;
  height: 472px;
  background-color: #22546E;
  margin: auto;
  border-radius: 5px;
  padding: 35px;
  box-sizing: border-box;
}

.add-order-item {
  position: fixed;
  bottom: 0px;
  right: 0px;
}

.main-block-component {
  position: relative;
  top: 120px;
  max-width: 1246px;
  background-color: #22546E;
  margin: auto;
  border-radius: 5px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  box-sizing: border-box;
}

.main-block-component-title {
  position: relative;
  max-width: 1246px;
  height: 50px;
  background-color: #22546E;
  margin: auto;
  border-radius: 5px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 35px;
  padding-right: 35px;
  box-sizing: border-box;
  z-index: 2;
}

.main-block-component-cta1 {
  background-color: #47CE8D;
  border: none;
  font-size: 12px;
  padding: 10px 40px 10px 40px;
  position: absolute;
  right: 6px;
  top: 6px;
}

.main-block-component-cta2 {
  background-color: #47CE8D;
  border: none;
  font-size: 12px;
  padding: 10px 40px 10px 40px;
  position: absolute;
  right: 210px;
  top: 6px;
}

.searchbox {
  border: none;
  font-size: 12px;
  position: absolute;
  right: 420px;
  top: 6px;
  width: 500px;
}

.form-control {
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
}

.main-block-component-body {
  position: relative;
  height: 500px;
  background-color: #F2F2F2;
  border-radius: 5px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 35px;
  padding-right: 35px;
  box-sizing: border-box;
  z-index: 1;
}


.row {
  margin: 0px 5px;
  box-sizing: border-box;
}


.row:after {
  content: "";
  display: table;
  clear: both;
}

#line-enumerated {
  float: left;
  width: 40%;
 
  box-sizing: border-box;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 1em;
  text-align: center;
  background-color: #f1f1f1;
}

#line-schedule {
  float: left;
  width: 40%;
  
  box-sizing: border-box; 
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 16px 16px;
  text-align: center;
  background-color: #f1f1f1;
}

#line-created {
  float: left;
  width: 20%;
  padding: 10px 10px;
  text-align: center;
  box-sizing: border-box;
  
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 7px;
  text-align: center;
  background-color: #f1f1f1;
  
}

#line-enumerated-empty {
  text-align: left;
  padding-top: 5px;
}